/* ------------------------------------------ */
/* COLORS */
:root {
    --primary-font-color: #280003;
    --secondary-font-color: #000000;
    --primary-color: #E6CFC8;
    --secondary-color: #0D5C63;
    --primary-accent-color: #B5D6D6;
    --secondary-accent-color: #E1AD37;
}

/* ------------------------------------------ */
/* GENERAL STYLES */
body {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------ */
/* HEADER */
.header {
    background-color: var(--primary-accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;
    padding-left: 0 !important;
    height: 80px;
}

.logo {
    width: 160px; 
    height: auto;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-font-color);
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(225, 173, 55, 0.6);
    z-index: -1;
    transition: height 0.3s ease-in-out;
}

.nav a:hover::before {
    height: 40%;
    top: auto;
    bottom: 0;
}

/* ------------------------------------------ */
/* FOOTER */
.footer {
    background-color: var(--primary-accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.footer-logo {
    width: 180px; 
    height: auto; 
}

.footer-left {
    display: flex;
    flex-direction: column; 
    order: 1;
}

.footer-copyright {
    font-size: 14px;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;

}

.footer-nav {
    order: 3; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;
}

.footer-nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-font-color);
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.footer-nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(225, 173, 55, 0.6);
    z-index: -1;
    transition: height 0.3s ease-in-out;
}

.footer-nav a:hover::before {
    height: 40%;
    top: auto;
    bottom: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 120px;
    padding-right: 80px;
    order: 2;
}

.icon-circle {
    width: 30px;
    height: 30px;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.icon-circle img {
    width: 80%; 
    height: 80%;
    object-fit: contain; 
    display: block;
}

/* ------------------------------------------ */
/* RESPONSIVENESS */
@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer-nav {
        flex-direction: column;
        gap: 20px;
    }
}